/******************************************


GENERAL


******************************************/
*,
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
section {
  height: 100vh;
  position: relative;
}
.appbar--hovers-one .appbar-item {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.no-touch .appbar--hovers-one .appbar-item:hover {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  -webkit-transition: all .1s;
  transition: all .1s;
}
.ribbon {
  height: 100%;
}
.absolute-bottom {
  position: absolute;
  bottom: 40px;
  width: 100%;
}
.navbar-brand {
  float: none;
  padding: 0;
}
.navbar-brand img {
  background: #FFF;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 200;
  margin-left: 21px;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 3px 5px;
}
.navbar-default {
  padding: 0 20px 0 20px;
  background: #48a95e;
  border: none;
  font-weight: 300;
  font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-default {
    padding-left: 0;
  }
}
.navbar-default .navbar-nav > li {
  font-size: 14px;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 14px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #2c8b42;
}
nav {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
}
nav li.nav-secondary {
  background-color: #48a95e;
}
nav li:last-child {
  padding-right: 0px;
  margin-right: 20px;
}
nav .navbar-header .navbar-toggle {
  border: none;
}
nav .navbar-header .navbar-toggle:hover {
  background-color: transparent;
}
nav .navbar-header .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
nav .navbar-header .navbar-toggle:focus {
  background: transparent;
}
nav ul.navbar-nav li a.language-modal {
  cursor: pointer;
}
nav ul.navbar-nav li:hover {
  background-color: #2c8b42;
  color: #ffffff;
}
nav ul.navbar-nav li:hover a:hover {
  color: #ffffff;
}
nav ul.navbar-nav li.dropdown a:hover,
nav ul.navbar-nav li.dropdown a:focus {
  background-color: #2C8B42;
  color: #FFF;
}
nav ul.navbar-nav li.dropdown ul.dropdown-menu {
  background-color: #2C8B42;
  border-radius: 0;
  box-shadow: none;
  border-right: 0;
}
nav ul.navbar-nav li.dropdown ul.dropdown-menu li a {
  color: #ffffff;
  font-weight: 300;
}
nav ul.navbar-nav li.dropdown ul.dropdown-menu li a:hover {
  background-color: #48A95E;
}
nav ul.navbar-nav li.dropdown ul.dropdown-menu li:last-child {
  padding-right: 0;
}
nav ul.navbar-nav li:first-child:hover {
  background-color: transparent;
}
nav li.number {
  padding: 15px 15px 14px;
  color: #ffffff;
}
nav li.number a {
  display: inline;
  padding-left: 5px;
}
#secondary-navbar {
  background: white;
  margin-left: -20px;
  margin-right: -20px;
  padding-right: 0px;
  /*     padding-left:149px; */
  /*dependent on affiliate logo*/
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.03);
  text-align: center;
  position: relative;
}
#secondary-navbar li {
  background: white;
}
#secondary-navbar a {
  color: #7e858c;
  /* 	color:#434a51; */
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 3px solid #fff;
}
#secondary-navbar a:hover,
#secondary-navbar a:focus,
#secondary-navbar a:active,
#secondary-navbar a.active {
  background: white;
  border-bottom: 3px solid #48a95e;
}
#navtopview {
  width: 100%;
  position: relative;
  text-align: center;
  top: -5px;
  border-top: 4px solid #FBB450;
  margin-left: 0px;
  padding-left: 20px;
  margin-top: 110px;
  z-index: 9;
  margin-bottom: -110px;
}
#navtopview div {
  background-color: #FAA732;
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 0 10px 4px 5px;
  position: relative;
  display: inline-block;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  z-index: 10000;
  margin: 0 auto;
}
#navtopview p {
  float: left;
  margin: 5px 10px 0 10px;
  font-size: 14px;
}
#navtopview .btn {
  margin: 0 0 0 7px;
  border-radius: 0;
  font-size: 12px;
}
.navbar-right.cart-nav {
  position: absolute;
  right: 0;
}
.navbar-left {
  float: right!important;
  margin-right: 70px;
}
img.brandpusher {
  height: 43px;
  width: auto;
  padding: 0 3px;
  visibility: hidden;
  margin-left: 20px;
  margin-top: -10px;
}
.navbar-inner img.brand {
  margin-left: 9px;
  /*  	margin-top:-5px;  */
  height: 54px;
  z-index: 100;
}
#secondary-navbar.navbar-inner {
  background: white;
  margin-left: -20px;
  margin-right: -20px;
  padding: 6px 20px 6px 0px;
  /*dependent on affiliate logo*/
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.03);
  border: none;
}
#secondary-navbar ul.row-fluid {
  text-align: center;
}
#secondary-navbar .navbar-left {
  margin: 0 auto;
  float: none!important;
}
#secondary-navbar .navbar-left li {
  float: none!important;
  display: inline-block;
}
#secondary-navbar .navbar-right.cart-nav {
  position: absolute;
  right: 40px;
  top: 0px;
  left: auto;
}
#secondary-navbar.navbar-inner ul.nav li {
  background: white;
  float: none;
  display: inline-block;
}
#secondary-navbar.navbar-inner ul.nav li a {
  color: #7e858c;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 10px;
  margin-top: -16px;
}
#secondary-navbar.navbar-inner ul.nav li a:hover,
#secondary-navbar.navbar-inner ul.nav li a:focus,
#secondary-navbar.navbar-inner ul.nav li a:active,
#secondary-navbar.navbar-inner ul.nav li a.active {
  background: white;
  border-bottom: 3px solid #48a95e;
}
#secondary-navbar.navbar-inner ul.nav li.secondary-cart {
  position: absolute;
  right: 6px;
  top: 0;
}
.container-fluid {
  padding-left: 0;
}
#intro .absolute-bottom {
  bottom: 124px;
}
#intro .absolute-bottom > div {
  height: 140px;
}
#intro .absolute-bottom > div h1 {
  background: #000;
  color: #ffffff;
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  height: 100%;
  margin: 0;
}
#intro .absolute-bottom > div a {
  background: red;
  color: #ffffff;
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  height: 100%;
}
#intro ul.ribbon {
  height: 100px;
  margin-bottom: 0;
}
#intro ul.ribbon:nth-of-type(1) {
  background: #1F84C9;
}
#intro ul.ribbon:last-child {
  background: #E9E9E9;
}
