/******************************************


GENERAL


******************************************/
/******************************************


MIXINS


******************************************/
.mixin-border-top {
  border-top: 1px solid #E6E6E6;
}
.mixin-font-weight-light {
  font-weight: 300;
}
.mixin-margin-center {
  margin-left: auto;
  margin-right: auto;
}
.mixin-transition {
  -webkit-transition: all 0.518s ease-out;
  -moz-transition: all 0.518s ease-out;
  -ms-transition: all 0.518s ease-out;
  -o-transition: all 0.518s ease-out;
}
/******************************************


MEDIA QUERY EXTRAS


******************************************/
