/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.carrier-cigna {
  background-image: url(../img/sprite-png-post/sprite-main.png);
  background-position: 0px -292px;
  width: 116px;
  height: 125px;
}
.carrier-united-health-one {
  background-image: url(../img/sprite-png-post/sprite-main.png);
  background-position: 0px 0px;
  width: 136px;
  height: 26px;
}
.clients-CA-coveredca {
  background-image: url(../img/sprite-png-post/sprite-main.png);
  background-position: 0px -173px;
  width: 154px;
  height: 56px;
}
.clients-ID-yourhealthidaho {
  background-image: url(../img/sprite-png-post/sprite-main.png);
  background-position: 0px -67px;
  width: 116px;
  height: 47px;
}
.clients-MS-onemississippi {
  background-image: url(../img/sprite-png-post/sprite-main.png);
  background-position: 0px -28px;
  width: 167px;
  height: 37px;
}
.clients-NM-nmhix {
  background-image: url(../img/sprite-png-post/sprite-main.png);
  background-position: 0px -231px;
  width: 99px;
  height: 59px;
}
.get-started-arrow {
  background-image: url(../img/sprite-png-post/sprite-main.png);
  background-position: 0px -116px;
  width: 56px;
  height: 55px;
}
.partner-w-healthcaregov {
  background-image: url(../img/sprite-png-post/sprite-main.png);
  background-position: 0px -419px;
  width: 197px;
  height: 197px;
}
