/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.accolades-licensed {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -949px;
  width: 92px;
  height: 92px;
}
.accolades-plans {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -1150px;
  width: 158px;
  height: 144px;
}
.accolades-usa {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -783px;
  width: 128px;
  height: 79px;
}
.accolades-well {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -862px;
  width: 86px;
  height: 87px;
}
.carrier-aetna {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -34px;
  width: 87px;
  height: 23px;
}
.carrier-anthem-bluecross {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px 0px;
  width: 104px;
  height: 16px;
}
.carrier-bluecross-blueshield {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -514px;
  width: 52px;
  height: 48px;
}
.carrier-cigna {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -562px;
  width: 47px;
  height: 51px;
}
.carrier-humana {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -16px;
  width: 89px;
  height: 18px;
}
.carrier-kaiser-permanente {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -57px;
  width: 140px;
  height: 23px;
}
.carrier-united-health-one {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -154px;
  width: 136px;
  height: 26px;
}
.clients-CA-coveredca {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -668px;
  width: 154px;
  height: 56px;
}
.clients-ID-yourhealthidaho {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -467px;
  width: 116px;
  height: 47px;
}
.clients-MS-onemississippi {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -304px;
  width: 167px;
  height: 37px;
}
.clients-NM-nmhix {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -724px;
  width: 99px;
  height: 59px;
}
.get-started-arrow {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -613px;
  width: 56px;
  height: 55px;
}
.gi-man-build {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -1294px;
  width: 203px;
  height: 166px;
}
.gi-man-superman {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -1041px;
  width: 286px;
  height: 109px;
}
.insurance-type-accidental-medical {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -129px;
  width: 30px;
  height: 25px;
}
.insurance-type-dental {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -238px;
  width: 32px;
  height: 32px;
}
.insurance-type-major-medical {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -104px;
  width: 26px;
  height: 25px;
}
.insurance-type-vision {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -207px;
  width: 28px;
  height: 31px;
}
.insurance-typeshort-term-medical {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -270px;
  width: 21px;
  height: 34px;
}
.partner-w-healthcaregov {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -1460px;
  width: 197px;
  height: 197px;
}
.press-abcnews {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -421px;
  width: 140px;
  height: 46px;
}
.press-cnn {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -379px;
  width: 91px;
  height: 42px;
}
.press-forbes {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -341px;
  width: 151px;
  height: 38px;
}
.press-venture-beat {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -180px;
  width: 199px;
  height: 27px;
}
.press-wsj {
  background-image: url(../img/sprite-post/sprite-main.png);
  background-position: 0px -80px;
  width: 232px;
  height: 24px;
}
