#about,
#broker-build{
	h2{
		&:extend(body h1 all);
		font-size:@fontSizeH1 + 0.75em; // 2em + x
		margin:0 0 15px;
		line-height:@fontSizeH1 - 0.75em; // 2m - .25
	}
}

#team,
#locations{
	h2{
		.sub-head();
		color:@home-general-font-color;
	}
	h3{
		&:extend(body h2 all);
		font-size:@fontSizeH1 + 1.2em; // 2em + x
		color:@GI-green;
	}
} 
#about,
#broker-build,
#team,
#locations{
	p{
		font-size: @fontSizeH1 - 0.35em; // 2em - x
		.accentFont();
	}
	h4{
		font-size: @fontSizeH1 - 0.5em;
		.accentSecondaryFont();
	}
	a{
		font-size:1.3em;
	}
}




@import "about-page-intro.less";
@import "about-page-broker.less";
@import "about-page-team.less";
@import "about-page-locations.less";





