// --------------------------
//
//
// --------------------------
//
//
// *team
// *our team
//
// ---------------------------
//
//
// ---------------------------

#team{
	text-align:center;
	.contact-group{
		color:@white;
		p{
			font-size: @fontSizeH1 - 0.65em; // 2em - x
		}
		background-color:@GI-blue;
	}
}









