// --------------------------
//
//
// --------------------------
//
//
// *broker
//
//
// ---------------------------
//
//
// ---------------------------

#broker-build{
	.company-highlights{
		text-align:center;
	}
	.health-broker{
		position:relative;
		&:after{
			.color-wide-left();
			background:red;
		}
	}
	.build-marketplaces{
		&:after{
			.color-wide-right();
			background:green;
		}
	}
}