// --------------------------
//
//
// --------------------------
//
//
// *broker
//
//
// ---------------------------
//
//
// ---------------------------

#broker-build{
	border-top:1px solid darken(@base-grey,5%);
	.company-highlights{
		text-align:center;
		&:after{
			.color-wide-left();
			background:@GI-green;
		}
		li{
			text-align:left;
			margin:0 2%;
			span{
				font-size:@fontSizeH1 + 0.25em;
				display:block;
			}
			p{
				font-size:@fontSizeH1 - 0.5em;
			}
		}
	}
	.health-broker,
	.build-marketplaces{
		position:relative;
		.calc(height, ~'100vh - 120px');
		padding:40px 30px;
	}
	.health-broker{
		&:after{
			.color-wide-left();
			background:lighten(@base-grey,5%);
		}
	}
	.build-marketplaces{
		&:after{
			.color-wide-right();
			background:lighten(@base-grey,10%);
		}
	}
}