html, body {
    .box-sizing(border-box);
}
body {
    .contentFont();
    > nav {
        display: block;
    }
}
section {
  height: 100vh; //THIS IS NOT A MISTAKE
  position: relative;
}



// ------------------------
//
// *Headers
//
// ------------------------

@fontSizeMainHeader:            38px;
@fontSizeMainSubHeader:            24px;



h1 {
    .headerFont();
}

h2 {
    text-align: center;
    .headerFont();
}

h3 {
    text-align: center;
    .headerFont();
}
h4 {
    .headerFont();
}
h5 {
    .headerFont();
}
h6 {
    .headerFont();
}



// ------------------------
//
// *Fonts
//
// ------------------------

@font-face {
    font-family: 'latobold';
    src: url('../../fonts/Lato/lato-bold-webfont.eot');
    src: url('../../fonts/Lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Lato/lato-bold-webfont.woff2') format('woff2'),
         url('../../fonts/Lato/lato-bold-webfont.woff') format('woff'),
         url('../../fonts/Lato/lato-bold-webfont.ttf') format('truetype'),
         url('../../fonts/Lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../../fonts/Lato/lato-light-webfont.eot');
    src: url('../../fonts/Lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Lato/lato-light-webfont.woff2') format('woff2'),
         url('../../fonts/Lato/lato-light-webfont.woff') format('woff'),
         url('../../fonts/Lato/lato-light-webfont.ttf') format('truetype'),
         url('../../fonts/Lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

//content
@font-face {
    font-family: 'latoregular';
    src: url('../../fonts/Lato/lato-regular-webfont.eot');
    src: url('../../fonts/Lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
         url('../../fonts/Lato/lato-regular-webfont.woff') format('woff'),
         url('../../fonts/Lato/lato-regular-webfont.ttf') format('truetype'),
         url('../../fonts/Lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto_slabregular';
    src: url('../../fonts/roboto-slab/robotoslab-regular-webfont.eot');
    src: url('../../fonts/roboto-slab/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-slab/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-slab/robotoslab-regular-webfont.woff') format('woff'),
         url('../../fonts/roboto-slab/robotoslab-regular-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-slab/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_slablight';
    src: url('../../fonts/roboto-slab/robotoslab-light-webfont.eot');
    src: url('../../fonts/roboto-slab/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-slab/robotoslab-light-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-slab/robotoslab-light-webfont.woff') format('woff'),
         url('../../fonts/roboto-slab/robotoslab-light-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-slab/robotoslab-light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabthin';
    src: url('../../fonts/roboto-slab/robotoslab-thin-webfont.eot');
    src: url('../../fonts/roboto-slab/robotoslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-slab/robotoslab-thin-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-slab/robotoslab-thin-webfont.woff') format('woff'),
         url('../../fonts/roboto-slab/robotoslab-thin-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-slab/robotoslab-thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

.contentFont(@contentFont:   'latoregular';) {
    font-family: @contentFont;
}

.headerFont(@headerFont:    'roboto_slabthin';) {
    font-family: @headerFont;
}

.headerSecondaryFont(@headerFont:    'roboto_slablight';) {
    font-family: @headerFont;
}

.accentFont(@accentFont:    'latolight';) {
    font-family: @accentFont;
}

.accentSecondaryFont(@accentSecondaryFont:    'latobold';) {
    font-family: @accentSecondaryFont;
}

.iconFont(@iconFont: 'FontAwesome';) {
    font-family: @iconFont;
}

// ------------------------
//
// *A
//
// ------------------------
.appbar--hovers-one .appbar-item {
    .transition(all .5s ease-out);
}
.absolute-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
}



// ------------------------
//
// *G
//
// ------------------------
.group {
    &:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }
}

// ------------------------
//
// *H
//
// ------------------------
.hide {
    display: none;
}
.headerStyles() {
    margin-top: 40px;
    margin-bottom: 60px;
    color: @GI-green;
    font-size: @fontSizeMainHeader;
    text-transform: capitalize;
    span {
        display: block;
        font-size: @fontSizeMainSubHeader;
    }
}

// ------------------------
//
// *N
//
// ------------------------
.no-touch .appbar--hovers-one .appbar-item:hover {
    .transform(scale3d(1.5, 1.5, 1,5));
    .transition(all .1s);
}


// ------------------------
//
// *R
//
// ------------------------
.ribbon {
	height: 100%;
}
.ribbonStyles(){
    @height: 120px;
    height: @height;
}

// ------------------------
//
// *T
//
// ------------------------
.text-shadow(@string: 1px 1px 3px rgba(0, 0, 0, 0.5)) {
    text-shadow: @string;
}

