html, body {
    .box-sizing(border-box);
}

body {
    .contentFontFamily();
    > nav {
        display: block;
    }
}
section {
  height: 100vh; //THIS IS NOT A MISTAKE
  position: relative;
  overflow: hidden;
}

h1 {font-size:2em}  /* displayed at 24px */
h2 {font-size:1.5em}  /* displayed at 18px */
h3 {font-size:1.25em}  /* displayed at 15px */
h4 {font-size:1em} 


// ------------------------
//
// *Headers
//
// ------------------------

//@fontSizeMainHeader:            2em;

@fontSizeH1:        2em;
@lineHeightH1:      1.5;

@fontSizeH1Sub:     @fontSizeH1 - 0.5em;

h1 {
    .headerFontFamily();
    font-size: @fontSizeH1;
}

h2 {
    text-align: center;
    .headerFontFamily();
}

h3 {
    text-align: center;
    .headerFontFamily();
}
h4 {
    .headerFontFamily();
}
h5 {
    .headerFontFamily();
}
h6 {
    .headerFontFamily();
}



// ------------------------
//
// *Fonts
//
// ------------------------

@font-face {
    font-family: 'latobold';
    src: url('../../fonts/Lato/lato-bold-webfont.eot');
    src: url('../../fonts/Lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Lato/lato-bold-webfont.woff2') format('woff2'),
         url('../../fonts/Lato/lato-bold-webfont.woff') format('woff'),
         url('../../fonts/Lato/lato-bold-webfont.ttf') format('truetype'),
         url('../../fonts/Lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../../fonts/Lato/lato-light-webfont.eot');
    src: url('../../fonts/Lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Lato/lato-light-webfont.woff2') format('woff2'),
         url('../../fonts/Lato/lato-light-webfont.woff') format('woff'),
         url('../../fonts/Lato/lato-light-webfont.ttf') format('truetype'),
         url('../../fonts/Lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

//content
@font-face {
    font-family: 'latoregular';
    src: url('../../fonts/Lato/lato-regular-webfont.eot');
    src: url('../../fonts/Lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
         url('../../fonts/Lato/lato-regular-webfont.woff') format('woff'),
         url('../../fonts/Lato/lato-regular-webfont.ttf') format('truetype'),
         url('../../fonts/Lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto_slabregular';
    src: url('../../fonts/roboto-slab/robotoslab-regular-webfont.eot');
    src: url('../../fonts/roboto-slab/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-slab/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-slab/robotoslab-regular-webfont.woff') format('woff'),
         url('../../fonts/roboto-slab/robotoslab-regular-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-slab/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_slablight';
    src: url('../../fonts/roboto-slab/robotoslab-light-webfont.eot');
    src: url('../../fonts/roboto-slab/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-slab/robotoslab-light-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-slab/robotoslab-light-webfont.woff') format('woff'),
         url('../../fonts/roboto-slab/robotoslab-light-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-slab/robotoslab-light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabthin';
    src: url('../../fonts/roboto-slab/robotoslab-thin-webfont.eot');
    src: url('../../fonts/roboto-slab/robotoslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-slab/robotoslab-thin-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-slab/robotoslab-thin-webfont.woff') format('woff'),
         url('../../fonts/roboto-slab/robotoslab-thin-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-slab/robotoslab-thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

.contentFontFamily(@contentFont:   'latoregular';) {
    font-family: @contentFont;
}

.headerFontFamily(@headerFont:    'roboto_slabthin';) {
    font-family: @headerFont;
}

.headerSecondaryFontFamily(@headerFont:    'roboto_slablight';) {
    font-family: @headerFont;
}

.accentFont(@accentFont:    'latolight';) {
    font-family: @accentFont;
}

.accentSecondaryFont(@accentSecondaryFont:    'latobold';) {
    font-family: @accentSecondaryFont;
}

.iconFont(@iconFont: 'FontAwesome';) {
    font-family: @iconFont;
}

// ------------------------
//
// *A
//
// ------------------------
.appbar--hovers-one .appbar-item {
    .transition(all .5s ease-out);
}
.absolute-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.asterisk(){
    content: "\f069";
    .iconFont();
    font-size: 50%;
    position: absolute;
}




// ------------------------
//
// *B
//
// ------------------------

.break-tag(){
    &:after {
        content: '\a';
        white-space: pre;
    }
}





// ------------------------
//
// *C
//
// ------------------------
@callToActionBtnBgColor:        #EB5D3B;

.call-to-action {
    .accentFont();
    color: @white;
    height: 100%;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
    position: relative;
    z-index: 0;
    a {
        width: 100%;
        height: 100%;
        color: @white;
        &:hover {
            text-decoration: none;
        }
    }
}





// ------------------------
//
// *G
//
// ------------------------






// ------------------------
//
// *H
//
// ------------------------
.hide {
    display: none;
}

.h1Styles() {
    line-height: @heightRibbon / 4 + 6px;
    color: @white;
    position: relative;
    z-index: 0;
}

.headerStyles() {
    //padding-top: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
    color: @GI-green;
    font-size: @fontSizeH1;
    line-height: @lineHeightH1;
    text-transform: capitalize;
    span {
        display: block;
        font-size: @fontSizeH1Sub;
    }
}






// ------------------------
//
// *N
//
// ------------------------
.no-touch .appbar--hovers-one .appbar-item:hover {
    .transform(scale3d(1.5, 1.5, 1,5));
    .transition(all .1s);
}








// ------------------------
//
// *R
//
// ------------------------
@heightRibbon: 120px;
.ribbon {
    height: @heightRibbon;
    width: 100%;
    @media @M {
        height: 80px;
    }
}







// ------------------------
//
// *T
//
// ------------------------
.text-shadow(@string: 1px 1px 3px rgba(0, 0, 0, 0.5)) {
    text-shadow: @string;
}
.transparentBg(){
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
