// --------------------------
//
//
// --------------------------
//
//
// *Lower Your Cost
//
//
// ---------------------------
//
//
// ---------------------------



#lower-your-cost {	

@headerColor: 	#428AC5;
@fontSize: 		1.5em;

	.subtitle {
		text-align: center;
		color: @headerColor;
		font-size: @fontSize;
		.headerSecondaryFontFamily();
		p {
			margin: 0;
			i {
				font-style: normal;
				margin-right: 8px;
				&:after {
					.asterisk();
				}
			}
			&:after {
				content: "";
				background-image: url('../img/images/geeman-card.png');
				background-size: 100%;
				display: block;
				margin: 0 auto;
				width: 651px;
				height: 390px;
			}
		}
	}
	.taxcredit-explained {
		background: #CFCFCF;
		position: relative;
		height: 100%;
		&:after {
			background: #CFCFCF;
			.color-wide-left();
		}
		p {
			color: #333;
			margin-bottom: 0;
			margin-top: @heightRibbon / 3;
			position: relative;
			@media @L {
				width: 70%;
			}
			@media @ML {
				width: 90%;
			}
			@media @M, @S {
				width: 100%;
			}
			&:before {
				.asterisk();
				margin-left: -12px;
			}
			&:after { //Authorized Partner medal
				content: "";
				background-image: url('../img/sprite-pre/partner-w-healthcaregov.png');
				background-size: 100%;
				position: absolute;
				left: -11em;
				top: -6.5em;
				width: 130px;
				height: 130px;
				z-index: 1;
				@media @L {
					left: 38em;
				}
			}
		}
	}
	.call-to-action {
		padding-top: 26px;
		padding-left: @heightRibbon / 4;
		a {
			&:extend(#intro .call-to-action a all);
			font-size: 0.83em;
			padding-left: 14px;
			line-height: 52px;
			&:hover {
				&:before { // moving arrow on hover
				 	right: 16px;
				}
			}
			&:before {
				right: 20px;
				top: 24px;
			}
		}
		//.accentSecondaryFont();
		&:after {
			.transparentBg();
			background: #CFCFCF;
			.opacity(1);
			.transition(all 0.5s ease); // transition added for the hover effect
			.color-wide-right();
		}
	}
}




