.container-fluid {
	padding-left: 0;
}

h2 {
	.headerStyles();
}




.insurance-type-accidental-medical, 
.insurance-type-dental, 
.insurance-type-major-medical, 
.insurance-type-vision, 
.insurance-typeshort-term-medical{
	background: url(../../img/minified/home-page/sprites.png) no-repeat;
}

.insurance-type-accidental-medical{
	background-position: -137px -5px ;
	width: 30px;
	height: 25px;
}

.insurance-type-dental{
	background-position: -98px -1px ;
	width: 32px;
	height: 32px;
}

.insurance-type-major-medical{
	background-position: -65px -4px ;
	width: 26px;
	height: 25px;
}

.insurance-type-vision{
	background-position: -30px 0;
	width: 28px;
	height: 31px;
}

.insurance-typeshort-term-medical{
	background-position: 0 0;
	width: 21px;
	height: 34px;
}


@import "landing-page-intro.less";
@import "landing-page-lower-your-cost.less";
@import "landing-page-stories.less";
@import "landing-page-our-process.less";





















