.container-fluid {
	padding-left: 0;
}

#intro {
	.absolute-bottom {
		bottom: 124px;
		> div {
			height: 140px;
			h1 {
				background: #000;
				color: @white;
				.opacity(.2);
				height: 100%;
				margin: 0;
			}
			a {
				background: red;
				color: @white;
				.opacity(.2);
				height: 100%;
			}
		}
	}
	ul.ribbon {
		height: 100px;
		margin-bottom: 0;
		&:nth-of-type(1) {
			background: #1F84C9;
		}
		&:last-child {
			background: #E9E9E9;
		}
	}
}

