/******************************************


GENERAL


******************************************/

@GI-green: 							#5bb767;
@GI-blue:  							#1f6fb1;

@white: 							#fff;
@nav-bg: 							#48A95E;

@home-general-font-color: 			#434951;

@blue-1: 							#2B7AB8;
@blue-2: 							#2E97D3;
@blue-3: 							#348DC8;
@blue-4: 							#032133; //drk blue


@btn-link-primary: 					#428bca;

@home-color-alert: 					#E82E2F; //red
@home-color-secondary: 				#33b457; //green
@home-color-secondary-hover: 		#4CAF59; //lt green
@home-color-secondary-A: 			#2B9438; //drk green
@home-color-secondary-B: 			#17772D; // drk drk green
@home-color-secondary-C: 			#228238; // hover for drk drk green
@home-color-secondary-D: 			#CDE0CB; //hover for white on lt green
@home-color-secondary-E: 			#005A15; // hover for drk drk drk green

@font-sans-serif: 					'proxima-nova', Helvetica, Arial, sans-serif;
@font-serif: 						'ff-tisa-web-pro', Georgia, sans-serif;

@home-color-grey-light-light: 						#ededed;
@home-color-grey-light-medium: 						#D8D8D8;
@home-color-grey-medium: 							#d1d1d1;
@home-color-grey-medium-dark: 						#303030;
@home-color-grey-dark: 								;
@home-color-grey-dark-dark: 						;

@font-weight-light: 				300;
@font-weight-bold: 					600;


@nav-font-size: 					16px;

@home-grid-bg-1: 					#F1F1F2;
@home-grid-bg-2: 					#E4E5E6;
@home-grid-bg-3: 					#E4E5E6;
@home-grid-bg-4: 					#F3F3F4;
@home-grid-bg-5: 					#ECEDEE;

@home-grid-action-bg-left: 			#66BF72;
@home-grid-action-bg-right: 		#33B457;
@home-grid-font-color: 				#6D6E70;


@home-bg-solid: 					#edf2f4;

@footer-font-color: 				#8ABCD7;

@link-color: 						#0089FF;

@partner-about-bg-1: 						#29a949;
@partner-about-bg-2: 						#1997d8;
@partner-about-bg-3: 						#43bda8;
@partner-about-bg-4: 						#76c043;

@about-plus-arrow-border: 					55px;





