.sprite-svg {
  background-repeat: no-repeat;
	background-image: url(icons/icons.svg);
}

.svg-icon-plans { 
	background-position: 0 0;
}

.svg-icon-plans-dims {
	width: 138.5px;
	height: 126.4px;
}

.svg-icon-usa { 
	background-position: 0 -127px;
}

.svg-icon-usa-dims {
	width: 110.3px;
	height: 69.1px;
}

.svg-icon_abcnews { 
	background-position: 0 -197px;
}

.svg-icon_abcnews-dims {
	width: 155.9px;
	height: 54.8px;
}

.svg-icon_aetna { 
	background-position: 0 -252px;
}

.svg-icon_aetna-dims {
	width: 115.7px;
	height: 35.5px;
}

.svg-icon_anthem { 
	background-position: 0 -288px;
}

.svg-icon_anthem-dims {
	width: 135.8px;
	height: 24.8px;
}

.svg-icon_bcbs { 
	background-position: 0 -313px;
}

.svg-icon_bcbs-dims {
	width: 72.5px;
	height: 64px;
}

.svg-icon_cnn { 
	background-position: 0 -377px;
}

.svg-icon_cnn-dims {
	width: 87.9px;
	height: 49.9px;
}

.svg-icon_contact { 
	background-position: 0 -427px;
}

.svg-icon_contact-dims {
	width: 35.5px;
	height: 32.2px;
}

.svg-icon_forbes { 
	background-position: 0 -460px;
}

.svg-icon_forbes-dims {
	width: 129.2px;
	height: 38px;
}

.svg-icon_giman-build { 
	background-position: 0 -498px;
}

.svg-icon_giman-build-dims {
	width: 205.4px;
	height: 168.4px;
}

.svg-icon_giman-superman { 
	background-position: 0 -667px;
}

.svg-icon_giman-superman-dims {
	width: 288.3px;
	height: 110.5px;
}

.svg-icon_humana { 
	background-position: 0 -778px;
}

.svg-icon_humana-dims {
	width: 125.3px;
	height: 39.3px;
}

.svg-icon_kaiser { 
	background-position: 0 -818px;
}

.svg-icon_kaiser-dims {
	width: 186.8px;
	height: 41.7px;
}

.svg-icon_licensed { 
	background-position: 0 -860px;
}

.svg-icon_licensed-dims {
	width: 82.2px;
	height: 82px;
}

.svg-icon_news { 
	background-position: 0 -942px;
}

.svg-icon_news-dims {
	width: 31.7px;
	height: 35px;
}

.svg-icon_partner { 
	background-position: 0 -977px;
}

.svg-icon_partner-dims {
	width: 45.2px;
	height: 38.5px;
}

.svg-icon_wsj { 
	background-position: 0 -1016px;
}

.svg-icon_wsj-dims {
	width: 283.2px;
	height: 45.3px;
}

