.sprite-svg {
  background-repeat: no-repeat;
	background-image: url(icons/icons.svg);
}

.svg-abcnews-blue { 
	background-position: 0 0;
}

.svg-abcnews-blue-dims {
	width: 155.9px;
	height: 54.8px;
}

.svg-aetna { 
	background-position: 0 -55px;
}

.svg-aetna-dims {
	width: 115.7px;
	height: 35.5px;
}

.svg-anthem { 
	background-position: 0 -91px;
}

.svg-anthem-dims {
	width: 135.8px;
	height: 24.8px;
}

.svg-bcbs { 
	background-position: 0 -116px;
}

.svg-bcbs-dims {
	width: 72.5px;
	height: 64px;
}

.svg-cnn-blue { 
	background-position: 0 -180px;
}

.svg-cnn-blue-dims {
	width: 87.9px;
	height: 49.9px;
}

.svg-forbes-blue { 
	background-position: 0 -230px;
}

.svg-forbes-blue-dims {
	width: 129.2px;
	height: 38px;
}

.svg-humana { 
	background-position: 0 -268px;
}

.svg-humana-dims {
	width: 125.3px;
	height: 39.3px;
}

.svg-icon-build { 
	background-position: 0 -308px;
}

.svg-icon-build-dims {
	width: 69.3px;
	height: 55.6px;
}

.svg-icon-usa { 
	background-position: 0 -364px;
}

.svg-icon-usa-dims {
	width: 110.3px;
	height: 69.1px;
}

.svg-icon_contact { 
	background-position: 0 -434px;
}

.svg-icon_contact-dims {
	width: 35.5px;
	height: 32.2px;
}

.svg-icon_giman-build { 
	background-position: 0 -467px;
}

.svg-icon_giman-build-dims {
	width: 205.4px;
	height: 168.4px;
}

.svg-icon_giman-superman { 
	background-position: 0 -636px;
}

.svg-icon_giman-superman-dims {
	width: 288.3px;
	height: 110.5px;
}

.svg-icon_licensed { 
	background-position: 0 -747px;
}

.svg-icon_licensed-dims {
	width: 82.2px;
	height: 82px;
}

.svg-icon_news { 
	background-position: 0 -829px;
}

.svg-icon_news-dims {
	width: 44px;
	height: 46px;
}

.svg-icon_plans { 
	background-position: 0 -875px;
}

.svg-icon_plans-dims {
	width: 138.5px;
	height: 126.4px;
}

.svg-kaiser { 
	background-position: 0 -1002px;
}

.svg-kaiser-dims {
	width: 186.8px;
	height: 41.7px;
}

.svg-partner-w-healthcaregov { 
	background-position: 0 -1044px;
}

.svg-partner-w-healthcaregov-dims {
	width: 198.6px;
	height: 198.9px;
}

.svg-wsj-blue { 
	background-position: 0 -1243px;
}

.svg-wsj-blue-dims {
	width: 283.2px;
	height: 45.3px;
}

