.svg-icon_build {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-icon_healthcard {
	background-position: 0 -53px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-icon_news {
	background-position: 0 -135px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-icon_paper-plane {
	background-position: 0 -185px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-icon_plant {
	background-position: 0 -229px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-icon_usa {
	background-position: 0 -287px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

